%meta{:content => "#{current_page.data.description}", :name => "description"}
%meta{:charset => "utf-8"}/
%title Merci Edgar | L'assistant virtuel des artistes
%meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
%meta{:content => "Merci Edgar, #{t("baseline")}", :name => "description"}/
%meta{:content => "Merci Edgar", :name => "author"}/

%meta{:content => "Merci Edgar, #{t("baseline")}", :property => "og:title"}/
%meta{:content => "#{current_page.data.slogan} #{current_page.data.description}", :property => "og:description"}

- current_page.data.images.each do |image| 
  %meta{:content => "/images/multipage/#{image}", property: "og:image"}
  
/ Le HTML5 shim, for IE6-8 support of HTML5 elements
/[if lt IE 9]
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

/ Le fav and touch icons
= favicon_tag 'favicon.ico'
/[if gte IE 9] <style type="text/css"> \.gradient { filter: none;} </style>

= stylesheet_link_tag "all"
= javascript_include_tag "all"

