---
title: Accueil
layout: my
description: Merci Edgar
images:
  - edgar-head.png
  - vitrinne-banner-launch2.jpg
---

.hero-unit#hero-launch.gradient
  .container
    .container.submenu
      #socialfixed
        .row
          %ul.socials
            %li
              %a{:href => "https://www.facebook.com/pages/Merci-Edgar/164510577033726", :title => "Facebook Merci Edgar", :target => "blank"}
                %i.ico.edi-facebook

            %li
              %a{:href => "https://twitter.com/MerciEdgar", :title => "Twitter Merci Edgar", :target => "blank"}
                %i.ico.edi-twitter

            %li
              %a{:href => "http://vimeo.com/channels/entretiensdedgar", :title => "Vimeo Channel Entretiens d'Edgar", :target => "blank"}
                %i.ico.edi-vimeo
        
        
    .row-fluid.hero-launch
      = image_tag("multipage/vitrinne-banner-launch2.png")
  
    
    

%section#features-section
  .container
    .row-fluid
      .span5.offset4
        = link_to 'http://login.merciedgar.com/fr/users/sign_up' do
          %button.btn.btn-large.btn-danger.btn-block Je m'inscris maintenant !
        %space
    .row-fluid.label-blocks
      .span4
        .label.label-large.label-info
          %i.ico.edi-users
        %h4= t("home.features.track_1")
        %p= t("home.features.track_what_1")

      .span4
        .label.label-large.label-info
          %i.ico.edi-clock
        %h4= t("home.features.schedule")
        %p= t("home.features.schedule_what")

      .span4
        
        .label.label-large.label-info
          %i.ico.edi-binocular
        %h4= t("home.features.share")
        %p
          = link_to '/association.html' do
            = t("home.features.share_what").html_safe
      
%section.cta.cta-invi
  .container
    %h3
      = link_to '/software.html' do
        %i.ico.edi-info2
        Découvrir les fonctionnalités de Merci Edgar
%space
