---
title: Welcome to Middleman
layout: my
description: Merci Edgar
images:
  - screenys/scr_560_teamwork.jpg
  - screenys/scr_560_map.jpg
  - screenys/scr_560_filters.jpg
  - screenys/scr_560_reporting.jpg
---
.hero-unit.notfullimg#hero-features
  .container
    .thehero
      %h4 Voici vos nouveaux meilleurs amis :
      = image_tag("multipage/showcase-banner-feat.png")
      %space
      .row-fluid
        .span6.offset3
          = link_to 'http://login.merciedgar.com/fr/users/sign_up' do
            %button.btn.btn-large.btn-danger.btn-block Je m'inscris maintenant !


%section.bkg-white.feat-section
  %space
  .container
    .row-fluid
      .span5
        %h3 Gérer votre base contacts
        %p
          Merci Edgar permet aux artistes et aux tourneurs de gérer leurs contacts professionnels (lieux, festivals, autres organisateurs de spectacles, mais aussi tout type de structure comme les médias, les institutionnels, les imprimeurs, ...) à l'aide d'une interface simple et intuitive.

      .span7
        .img-box
          = image_tag("multipage/screenys/scr_560_list.jpg")

%section.bkg-white.feat-section
  .container
    .row-fluid
      .span7
        .img-box
          /.sticker.sticker-small Prochainement
          = image_tag("multipage/screenys/scr_560_reporting.jpg")
      .span5
        %h3 Travaillez vos contacts !
        %p
          Assignez-vous des tâches à propos de tel contact, rédigez des comptes-rendus pour suivre vos différentes intéractions avec vos contacts. En un mot, faites d'Edgar votre assistant virtuel qui saura tout de vos contacts pro !

%section.bkg-white.feat-section
  .container
    .row-fluid
      .span5
        %h3 Segmentez et recherchez !
        %p
          Une fois vos contacts correctement qualifiés, profitez de notre puissant moteur de recherche pour segmenter votre base de données à l'aide de recherche multi-critères (par esthétique, proximité géographique, jauge,…) Envie de trouver dans votre base tous les lieux qui programment de la chanson, avec une jauge de moins de 100 personnes, dans un rayon de 100 km de Nantes ? Demandez à Edgar, en un clic, il vous apportera la réponse !
      .span7
        .img-box
          = image_tag("multipage/screenys/scr_560_filters.jpg")
  %space



%section.bkg-white.feat-section
  .container
    .row-fluid
      .span7
        .img-box
          = image_tag("multipage/screenys/scr_560_map.jpg")
      .span5
        %h3 Géolocalisez !
        %p
          Une fois l'adresse de votre contact pro renseigné, Edgar saura le situer sur une carte. La géocalisation couplée avec notre puissant moteur de recherche vous permettra de trouver vos différents contacts (lieux, festivals, autres organisateurs de spectacles,…) à une certaine distance d'un lieu. Pratique pour organiser une tournée !
  %space



%section.bkg-white.feat-section
  .container
    .row-fluid
      .span5
        %h3 Travaillez en équipe !
        %p
          Edgar vous permet un accès multi-utilisateurs à votre base. Vous saurez qui a rédigé le dernier compte-rendu sur tel contact, vous pourrez assigner une tâche à un de vos collèques. En un mot, vous pourrez travailler en équipe grâce à Edgar !
      .span7
        .img-box
          = image_tag("multipage/screenys/scr_560_teamwork.jpg")
  %space

%section.cta.cta-brown
  .container
    .section-title
      %h2 Les premiers pas sur Merci Edgar en vidéo :
    <iframe src="//player.vimeo.com/video/86027838?byline=0&amp;portrait=0&amp;color=fff" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

%section#soon-section
  .container
    .section-title
      %h2 Prochainement
      %p Nous sommes en train de développer de nouveaux modules (administration, base commune).

    .row-fluid.label-blocks
      .span6
        .label.label-large
          %i.ico.edi-dates
        %h4 Module administration
        %p gestion et suivi d'une date vendue

      .span6
        .label.label-large
          %i.ico.edi-megaphone
        %h4 Base commune
        %p Toutes les informations d'ordre publique (nom des lieux, jauges, styles programmés, ...) seront partagées dans une seule et même base commune


%section
  .container
    %h2.section-title= t("home.promise.why")
    .row-fluid
      .span6
        %p
          = t("home.promise.alone")
          %br/
          = t("home.promise.more_time_for")
          %br/
          = t("home.promise.goal")

      .span6
        .row.paragraph-middle
          %ul.engagements
            %li
              %strong= t("home.commitments.free")
              %br/
              = t("home.commitments.free_details")
            %li
              %strong= t("home.commitments.simple")
              %br/
              = t("home.commitments.simple_details")
            %li
              %strong= t("home.commitments.no_installation")
              %br/
              = t("home.commitments.no_installation_details")
            %li
              %strong= t("home.commitments.byfor")
              %br/
              = t("home.commitments.byfor_details")
            %li
              %strong= t("home.commitments.evolutive")
              %br/
              = t("home.commitments.evolutive_details")
