---
title: Edgar TV
layout: my
slogan: "Des entretiens pour mieux comprendre le métier..."
description: "Edgar n'est pas seulement un assistant virtuel, il aide aussi les artistes en réalisant des interviews de professionnels du spectacle, leur permettant ainsi de mieux comprendre le milieu dans lequel ils souhaitent évoluer."
images:
  - screens/sansev.jpg
  - screens/karim.jpg
---
.hero-unit.notfullimg#hero-about
  .container
    .thehero
      %h4= current_page.data.slogan
      = image_tag("multipage/showcase-banner-about.png")
      
  
    
%space

%section#tv-section
  .container
    .row-fluid
      .span12
        %h2.section-title Edgar TV
        %p.subtitle= current_page.data.description

    #container-folio.row-fluid
      / portfolio item
      .row-fluid
        .span3.project-item.seo.graphics.box
          .thumbnail
            %a{:href => "http://blog.merciedgar.com/post/41597390981/sanseverino", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/sansev.jpg")
              .caption.text-center
                %h4
                  Sanseverino, artiste
      
        .span3.project-item.seo.graphics.box
          .thumbnail
            %a{:href => "http://blog.merciedgar.com/post/40413767004/aureliethuot", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/aurelie.jpg")
              .caption.text-center
                %h4
                  Aurélie Thuot, productrice de spectacles

        .span3.project-item.seo.graphics.box
          .thumbnail
            %a{:href => "http://blog.merciedgar.com/post/52538891880/francois-alquier-est-un-journaliste-atypique", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/alquier.jpg")
              .caption.text-center
                %h4
                  François Alquier, journaliste
                
        .span3.project-item.seo.graphics.box
          .thumbnail
            %a{:href => "http://blog.merciedgar.com/post/33374624316/mariongeoffroy", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/marion.jpg")
              .caption.text-center
                %h4
                  Marion Geoffroy, directrice de salle
      .row-fluid
        .span3.project-item.seo.graphics.box
          .thumbnail
            %a{:href => "http://blog.merciedgar.com/post/36508301980/papy", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/papy.jpg")
              .caption.text-center
                %h4
                  Papy, accompagnateur d’artistes

        .span3.project-item.seo.graphics.box
          .thumbnail
            %a{:href => "http://blog.merciedgar.com/post/43897181676/stephanie-berrebi-est-journaliste-mais-pas-que", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/steph.jpg")
              .caption.text-center
                %h4
                  Stéphanie Berrebi, journaliste

        .span3.project-item.seo.graphics.box
          .thumbnail
            %a{:href => "http://blog.merciedgar.com/post/42750733973/depuis-toujours-passionne-par-la-transmission-et", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/karim.jpg")
              .caption.text-center
                %h4
                  Karim Kanal, accompagnateur-conseil

        .span3.project-item.seo.graphics.box
          .thumbnail
            / IMAGE CONTAINER
            %a{:href => "http://blog.merciedgar.com/post/34491364088/didierpascalis", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/didierpascalis.jpg")
              / END IMAGE CONTAINER
              / CAPTION
              .caption.text-center
                / TITLE
                %h4
                  Didier Pascalis, producteur
              / / TITLE
            / END CAPTION
          / END: THUMBNAIL
        / END: portfolio item
      .row-fluid
        .span3.project-item.seo.graphics.box
          .thumbnail
            / IMAGE CONTAINER
            %a{:href => "http://blog.merciedgar.com/post/38631124519/kidibuzz", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/nomi.jpg")
              / END IMAGE CONTAINER
              / CAPTION
              .caption.text-center
                / TITLE
                %h4
                  Nomi, programmateur
              / / TITLE
            / END CAPTION
          / END: THUMBNAIL
        / END: portfolio item
        .span3.project-item.seo.graphics.box
          .thumbnail
            / IMAGE CONTAINER
            %a{:href => "http://blog.merciedgar.com/post/51384353684/roxanne-joseph-avec-carole-chichin-et-nicolas", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/roxanne.jpg")
              / END IMAGE CONTAINER
              / CAPTION
              .caption.text-center
                / TITLE
                %h4
                  Roxane Joseph, directrice de festival
              / / TITLE
            / END CAPTION
          / END: THUMBNAIL
        / END: portfolio item            
        .span3.project-item.seo.graphics.box
          .thumbnail
            / IMAGE CONTAINER
            %a{:href => "http://blog.merciedgar.com/post/53671067577/edgard-garcia-est-le-directeur-de-zebrock-une", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/garcia.jpg")
              / END IMAGE CONTAINER
              / CAPTION
              .caption.text-center
                / TITLE
                %h4
                  Edgard Garcia, directeur d'une association d'action culturelle
              / / TITLE
            / END CAPTION
          / END: THUMBNAIL
        / END: portfolio item      
        .span3.project-item.seo.graphics.box
          .thumbnail
            / IMAGE CONTAINER
            %a{:href => "http://blog.merciedgar.com/post/47936599491/florence-faissat-est-programmatrice-pour-les", :target => "blank"}
              %div
                .thumb-hover
                = image_tag("multipage/screens/faissat.jpg")
              / END IMAGE CONTAINER
              / CAPTION
              .caption.text-center
                / TITLE
                %h4
                  Florence Faissat, programmatrice télé
    %a.sml-link.bigger{:href => "http://blog.merciedgar.com/tagged/entretien", :target => "blank"}= t("home.tv.more")
  / /CONTAINER
/



- content_for :facebook_og do
  = tag('meta', content: "#{image_path('multipage/staff/robi.jpg')}", property: "og:image")
  = tag('meta', content: "#{image_path('multipage/staff/aurelie.jpg')}", property: "og:image")
  = tag('meta', content: "#{image_path('multipage/staff/jp.jpg')}", property: "og:image")
  = tag('meta', content: "#{image_path('multipage/staff/aline.jpg')}", property: "og:image")
  = tag('meta', content: "#{image_path('multipage/staff/lylian.jpg')}", property: "og:image")
  = tag('meta', content: "#{image_path('multipage/staff/nath.jpg')}", property: "og:image")
  = tag('meta', content: "#{image_path('multipage/staff/fred.jpg')}", property: "og:image")
  = tag('meta', content: "#{image_path('multipage/staff/guillaume.jpg')}", property: "og:image")


  
